/* ****** default tag styles ****** */

body
{
  margin: 20px;
  padding-right: 3%;
  background: #fff;
}

body, div, p, th, td
{
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}

a
{
  background: transparent;
  color: #006;
}

h1, h2, h3
{
  letter-spacing: 0em;
  background: transparent;
  color: #72b72e;
  text-align: left;
  font-weight: bold;
}

#centeringdivforie 
{
	text-align:center;
}


/* ****** header logo styles ****** */
/* ****** (header menu styles are found in dropdown.css and dropdown_ie.css) ****** */

#header_and_menu
{
  width: 65%;
  float: left;
}

#header
{
  margin-bottom: 20px;
  text-align: center;
}

#header img
{
  margin: auto;
  border:none;
}	

#sidebar
{
  float: right;
  width: 30%;
  margin: 0px 0px 20px 20px;
}

/* ****** cities list styles ****** */

#cities_list
{
  width: 100%;
  padding: 10px 5px;
  -moz-border-radius: 10px;
  background-color: #5ed8e7;
  color: #000;
  margin: 10px 0px 20px 0px;
}

#cities_list table
{
  margin: auto;
  font-size: 0.8em;
}

#cities_list table td
{
  width: 50%;
}

#cities_list_header
{
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  letter-spacing: -0.05em;
}

#cities_list table th
{
  text-align: left;
  font-weight: bold;
  padding: 10px 5px 0px 5px;
}

#cities_list table td
{
  vertical-align: top;
  padding: 0px 5px 0px 5px;
  line-height: 1em;
}

/* ****** latest news styles ****** */

#news
{
  width: 100%;
  background:#eee;
  color: #000;  
  padding: 2px 5px 5px 5px;
  margin-bottom: 20px;  
  -moz-border-radius: 10px;  
}

.news_title, dd
{
  margin-bottom: 1em;
}

.news_date
{
  font-weight: bold;
}

/* ****** mapping hacks styles ****** */

#mapping_hacks
{
  width:100%;
  background:#eee;
  padding: 2px 5px 5px 5px;  
  text-align: center;
  -moz-border-radius: 10px;    
}


/* ****** main content styles ****** */

#main_text
{
  margin: 10px 5px 20px 40px;
  padding-top:5px;
  width: 100%;
  text-align: left;
  clear: left;
}




/* ****** footer styles ****** */

#footer {
	text-align:left;
	background:#fff;   
	width:67%;
	margin-left:35px;
    padding: 2px 5px 5px 5px;  
}

#freeourdata {
	margin: 10px 0px; 
}

#freeimg {
	width:150; height:91; border:none;
}

#freethepostcode {
	text-align:center;
	margin: 10px 0px; 
	width: 200px; border: 2px solid #800; 
	padding: 5px;
}

#freethepostcode a {
	font-weight: bold; color: #800; background: transparent;
	text-decoration: none; font-family: serif;
}

#trademarks
{
  padding-top: 1em;
  text-align: center;
  font-size: 0.9em;
  clear:both;
}

#trademarks em, dt {
  font-style: italic;
}




/* ****** release notes table styles ****** */

.version_latest
{
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.version_latest, 
.version, 
.version_details, 
.version_details_grey, 
.version_details_grey_latest
{
  padding: 5px;
}

.version_details_grey, 
.version_details_grey_latest, 
.release_links
{
  background: #dedede; color: #000;
}

.version_details_grey_latest
{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.release_links
{
  text-align: center;
  border-left: 1px dotted #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}




