body
{
  margin: 20px;
  padding-right: 10%;
  background: #fff;
}

body, div, p, th, td
{
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 1.3em;
}

#header
{
  margin-right: -10%;
  margin-bottom: 30px;
  text-align: center;
}

#header img
{
  display: block;
  margin: auto;
  border: 0px;
}


#sidebar
{
  float: right;
  width: 30%;
  margin: 0px 0px 20px 20px;
}

#cities_list
{
  width: 100%;
  padding: 5px;
  -moz-border-radius: 10px;
  background-color: #5ed8e7;
  color: #000;
  margin-bottom: 20px;
}

#cities_list table
{
  margin: auto;
}

#cities_list table td
{
  width: 50%;
}


#cities_list_header
{
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  font-weight: bold;
  letter-spacing: -0.05em;
}

#cities_list table th
{
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 0px 5px;
}

#cities_list table td
{
  vertical-align: top;
  padding: 0px 5px 5px 5px;
}

#main_text
{
  margin: 0px auto;
  width: 75%;
  text-align: left;
}

#navigation
{
  padding-left: 10%;
  margin: 0px auto 20px auto;
  text-align: center;
}

.nav_item, .nav_item_active
{
  display: inline;
  padding: 0px 10px 0px 10px;
}

.nav_section
{
  padding: 10px;
  -moz-border-radius: 10px;
}

.nav_section_item, .nav_section_item_active
{
  display: inline;
  padding: 0px 10px 0px 10px;
}

.nav_section, .nav_item_active
{
  background-color: #eee;
  color: #000;
}

.nav_item_active, .nav_section_item_active
{
  font-weight: bold;
}

#news
{
}

#mapping_hacks
{
  border-top: 1px solid #bbb;
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

a
{
  background: transparent;
  color: #006;
}

h1, h2, h3
{
  letter-spacing: -0.05em;
  background: transparent;
  color: #72b72e;
  text-align: center;
  font-weight: bold;
}

.news_title
{
  margin-bottom: 1em;
}

.news_date
{
  font-weight: bold;
}

.version_latest
{
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
}

.version_latest, .version, .version_details, .version_details_grey, .version_details_grey_latest
{
  padding: 5px;
}

.version_details_grey, .version_details_grey_latest, .release_links
{
  background: #dedede; color: #000;
}

.version_details_grey_latest
{
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}

.release_links
{
  text-align: center;
  border-left: 1px dotted #000;
  border-top: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
}

#trademarks
{
  padding-top: 1em;
  text-align: center;
  font-size: small;
}

.mark
{
  font-style: italic;
}

dt
{
  font-style: italic;
}

dd
{
  margin-bottom: 1em;
}