<!-- begin cities list -->

<div id="cities_list">
  <div id="cities_list_header">Take me there...</div>
  <div class="cities_list_region_header">UK</div>
  <ul class="cities_list_region">
    <li><a href="http://cambridge.openguides.org/">Cambridge</a></li>
    <li><a href="http://croydon.randomness.org.uk/">Croydon</a></li>
    <li><a href="http://london.randomness.org.uk/">Randomness (London)</a></li>
    <li><a href="http://oxford.openguides.org/">Oxford</a></li>
    <li><a href="http://the.earth.li/~kake/cgi-bin/openguides/vegan-oxford.cgi">Vegan Oxford</a></li>
  </ul>
</div>

<!-- end cities list -->
