<!-- begin latest_news -->

<div class="news_date">
June 19, 2016
</div>

<p>After three years of failing to update this website, we’ve finally
moved it to GitHub Pages to make it easier to keep current.</p>

<p>Eleven versions of OpenGuides have been released since our last
news report here.  Changes include:</p>

<ul>
<li>template and CSS changes to facilitate mobile-friendly (responsive)
    guides</li>
<li>improved JSON output</li>
<li>added configuration for Vagrant, Travis, and Coveralls</li>
<li>added a new search backend based on Lucy</li>
<li>added the ability to create custom macros and override existing ones</li>
</ul>

<!-- end latest_news -->
