body { 
  background: #f3f3f3;
  color: #000;
  margin: 0px;
  font-family: Trebuchet MS, Verdana, Arial, sans-serif;
}
h1,h2,h3,h4,h5,h6 {
  font-family: Georgia, serif;
}

a:link { 
  background: transparent;
  color: #050
}
a:visited {
  background: transparent;
  color: #500
}
a:hover {
  background: transparent;
  color: #005
}
abbr {
  border-bottom: 1px dotted #000
}
acronym {
  border-bottom: 1px dotted #000
}
img {
  border: 1px solid #000
}
.n, .no_border {
  border: 0px
}

#banner {
  background: url(../cafe_cairo_files/logo_2005_b.jpg) no-repeat #060;
  height: 75px;
  width: 100%;
  border-bottom: 1px solid #999;
  cursor: pointer;
}

#banner h1 {
  display: none;
}

#search_form {
  margin: 10px;
  text-align: center;
}
.main_content {
  background: white;
  color: black;
  width: 100%;
}
div#navbar {
  float: right;
  width: 150px;
  margin: 10px 0px 10px 10px;
  padding: 5px 10px 5px 5px;
  border: 1px solid #000;
  -moz-border-radius: 20px;
  background: #fff;
  color: #000;
}
.navbar_group {
  margin: 1em 0em 1em 0em;
}
.navbar_group_title {
  font-weight: bold;
}
.navbar_list {
  list-style-type: none;
  margin: 0px 0px 1em 0px;
  padding: 0px;
}
.navbar_list li {
  margin-left: 10px;
}
.navbar_item {
  list-style-type: none;
}
#recent {
  float: right;
  background: #eee;
  color: #000;
  padding: 0px 5px 0px 5px;
  border: 1px dashed #666;
  width: 250px;
  margin: 0px 0px 10px 10px;
  font-size: 0.8em;
}

#footer {
  border-top: 1px solid #999;
  padding: 10px;
}
#footer td {
  font-size: 0.8em;
}

.right {
  float: right
}

blockquote.fpq {
  font-size: 0.9em;
  font-style: italic;
  text-align: center;
  padding: 5px;
  border: 1px dotted #000;
  background: #ddd;
  color: #000
}  

input.form_button {
  font-size: 0.9em;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px
}

textarea {
  padding: 0px;
}

span.diff1 {
  background: yellow;
}

span.diff2 {
  background: pink;
}

td.linebelow {
  border-bottom: 1px solid black
}

td.lineabove {
  border-top: 1px solid black
}

td.lineboth {
  border-top: 1px solid black;
  border-bottom: 1px solid black
}

a.home_link:link, a.home_link:visited, a.home_link:hover {
  background: transparent;
  color: #fff
}

#metadata {
  border: 1px solid #ccc;
  background: #cfc;
}

#metadata ul {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

#metadata li {
  color: #000;
  padding: 0px 10px 0px 10px;
}

#categories_and_locales {
  background: #ddd;
  color: #000;
  padding: 0px 10px 0px 10px;
  border-top: 1px solid #ccc;
}

.metadata_label {
  font-weight: bold;
}

.new {
  color: #f00;
  background: transparent;
}

.license_warning {
  padding: 1em 10% 1em 10%;
  color: #f00;
  background: transparent;
  font-size: small;
  border: 1px solid #f00
}

legend {
  font-weight: bold
}

.hidden {
  display: none
}

.recentchanges_meta {
  font-style: italic;
}

.recentchanges_node_name {
  font-weight: bold;
  padding-bottom: 1em;
}

.content_category {
  margin: 5px 0px 5px 0px;
}

.edit_page_link {
  font-weight: bold;
}

table.codes { 
  border: 1px solid #999;
  padding: 10px;
  width: 500px;
}

table.codes td {
  background: #ccc;
  color: #000;
}

.editing_hints {
  padding: 10px;
  background: #ddd;
  color: #000;
  border: 1px solid #000;
}

.formatting {
  font-family: monospace;
  background: #acc;
  color: #000;
}

.search_box {
  background: #ddd;
  color: #000;
  text-align: center;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  height: 2em;
}

.interesting {
  background: #ddd;
  color: #000;
  padding: 5px;
  border-bottom: 1px solid #999;
  border-right: 1px solid #999;
  vertical-align: top
}

#redirect_message {
  font-size: small;
}